.Header {
    background: #1e2326;
    width: 100%;
    height: 20vh;
}

.Header-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.Header section .Header-logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.Header section ul, .Header section .Header-nav-desktop {
    display: flex;
    list-style: none;
}

.Header section nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.Header section nav ul li a:hover {
    color: #1CB698;
}


.Header-nav-responsive {
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:980px) {
    nav {
    }
    
    .Header-nav-desktop {
        display: none;
    }
    
    .Header-nav-mobile {
        /* display: block; */
        width: 100%;
        position: absolute;
        padding: 0;
        right: 0;
        top: 0;
        transform: translate(100%, -100%);
        transition: all ease-out .5s;
    }

    .Header-nav-mobile.show {
        transform: translate(0, 0);
    }
    
    .Header-nav-mobile ul {
        display: flex;
        flex-direction: column;
    }
    
    .Header-nav-responsive {
        display: flex;
    }
    
    .Header-nav.responsive .Header-nav-mobile {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
        border-radius: 10px;
        z-index: 99;
        transform: translateX(0);
    }
    /* .Header-nav.responsive ul {
        display: block;
        width: 100%;
        position: absolute;
        padding: 0;
        right: 0;
        top: 0;
    } */

    .Header-nav-mobile ul li {
        background-color: #252A2E;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
