.Projects {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.Projects .Projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.Projects .Projects-container .Projects-project {
    display: grid;
    align-content: center;
    gap: 10px;
    position: relative;
    max-width: 340px;
    height: 500px;
    margin: 10px;
}

.Projects .Projects-container .Projects-project h3 {
    height: 60px;
}

.Projects-project figure {
    max-width: 340px;
    height: 150px;
    margin: 0;
}

.Projects .Projects-container .Projects-project img {
    width: 100%;
    height: 100%;
    display: block;
}

.Projects .Projects-container .Projects-project p {
    height: 150px;
}

.Projects-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Projects-links a {
    border: 1px solid #1CB698;
    border-radius: 999px;
    background-color: #1CB698;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.Projects-links a:hover {
    color: #252A2E;
}

@media screen and (max-width:700px){
    .Projects .Projects-container .Projects-project {
        max-width: 100%;
    }
    .Projects .Projects-container .Projects-project img {
        width: 100%;
    }
}

