.Skills {
    display: grid;
    gap: 50px;
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.Skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    opacity: 0;
    position: relative;
    left: -30px;
}

@media screen and (max-width:768px) {

    .Skills-container {
        padding: 0;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
}
